---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "Faster than you think",
    description: "Self-developed tunnel technical support.",
    icon: "mdi:feather",
  },
  {
    title: "Runs everywhere",
    description:
      "Our service works on MacOS, iOS, Android, Windows, and even Linux.",
    icon: "mdi:graph",
  },
  {
    title: "Nice emby",
    description: "We provide emby service for every user.",
    icon: "mdi:account-group",
  },
];
---

<ContentSection title="Features" id="features">
  <Fragment slot="lead">
    Uni Network has <span class="text-primary">better service</span> and <span
      class="text-primary">lower price</span
    > than similar products.
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <div class="h-16 w-16 rounded-full border-2 border-current p-3">
            <Icon name={icon} />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
