---
import ContentSection from "~/components/content-section.astro";
import { Icon } from "astro-icon";
---

<ContentSection title="Join us" id="join-us">
    <Fragment slot="lead">
        Now <a href="https://sexyuni.org/">join Uni Network</a> and start
        <span class="text-primary">surfing the Internet</span>.
    </Fragment>
    <a
        href="https://sexyuni.org/"
        class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
        <Icon pack="mdi" name="plus-circle" class="h-8" />
        <span>Register</span>
    </a>
</ContentSection>
