---
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Join us" id="join-us">
  <Fragment slot="lead">
    Now <a href="https://portal.uninetwork.top/">join Uni Network</a> and start <span
      class="text-primary">surfing the Internet</span
    >.
  </Fragment>
</ContentSection>
